.firsteach__containner {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
//RESPONSIVE STYLING STARTS HERE
@media (max-width: 799px) {
}
@media (max-width: 480px) {
}
